extends layout

block content
    main(role="main" class="container")
        //Receives recipes from browse.ts
        if errors
            each error in errors
                div(class="alert alert-danger") #{ error }
        if success
            each s in success
                div(class="alert alert-success") #{ s }
        if Recipes

            each recipe in Recipes
                //Disassembles the recipes array and displays 'cards'
                //corresponding to each recipe (as seen on website)
                article(class="media content-section")
                    img(class="rounded-circle article-img" src="/images/Avatar.png")
                    div(class="media-body")
                        div
                            h2
                                a(class="article-title") #{recipe.title}
                                if user
                                    div(style="float: right")
                                        button.btn.btn-danger(data-id=[user.Username, recipe.title, recipe._id] id=recipe._id + "favbtn")
                                            i.fa.fa-heart(aria-hidden=true)
                                else
                                    div(style="float: right")
                                        button.btn.btn-danger( id=recipe._id + "favbtn" disabled)
                                            i.fa.fa-heart(aria-hidden=true)

                                    //input(id="toggle-event" type="checkbox" checked data-toggle="toggle" data-on="Metric" data-off="US" data-onstyle="warning" data-offstyle="info" data-size="sm" onclick="convert('+ +')")
                        h6(class="recipe-username") #{'by ' + recipe.username}
                        p(class="recipe-time") #{'Est. completion time: ' + recipe.Etime + " mins" }
                        ul
                            each val in recipe.ingredients
                                if val.optional
                                    li= val.quantity + ' ' + (val.quantity > 1 && val.unit != "" ? val.unit + 's ' : (val.unit != null ? val.unit + ' ': '')) + val.name + ' optional'
                                else
                                    li= val.quantity + ' ' + (val.quantity > 1 && val.unit != "" ? val.unit + 's ' : (val.unit != null ? val.unit + ' ': '')) + val.name
                        ol
                            each val in recipe.instructions
                                li= val.description
                        if user
                            div(style="float: right")
                                button.btn.btn-warning( data-id=recipe._id id=recipe._id+"likebtn")
                                    i.fa.fa-thumbs-up(aria-hidden=true)
                                    span(class="likes" id = recipe._id + "like")     #{recipe.rating.Upvotes}
                                button.btn.btn-basic(data-id=recipe._id id=recipe._id+"dislikebtn")
                                    i.fa.fa-thumbs-down(aria-hidden=true)
                                    span(class="dislikes" id=recipe._id + "dislike")   #{recipe.rating.Downvotes}
                            script.
                                window.onload = function () {
                                    $('.btn-warning').on("click", function () {

                                        //alert("ok");
                                        var recipeid = $(this).data('id');
                                        $.ajax({
                                            url: "/like",
                                            type: "POST",
                                            dataType: 'json',
                                            data: {id: recipeid},
                                            success: function (data) {
                                                document.getElementById(recipeid + "like").innerHTML = "    " + data;
                                                document.getElementById(recipeid + "likebtn").disabled = true;
                                            }
                                        });
                                    });
                                    $(".btn-basic").on("click", function (e) {
                                        e.preventDefault();
                                        var recipeid = $(this).data('id');
                                        $.ajax({
                                            type: 'POST',
                                            url: '/dislike',
                                            dataType: 'json',
                                            data: {id: recipeid},
                                            success: function (data) {
                                                document.getElementById(recipeid + "dislike").innerHTML = "    " + data;
                                                document.getElementById(recipeid + "dislikebtn").disabled = true;
                                            }
                                        });
                                    });

                                    $('.btn-danger').on("click", function () {

                                        var recipeData = $(this).data('id');
                                        var recipeid = recipeData[2];
                                        $.ajax({
                                            url: "/favorite",
                                            type: "POST",
                                            dataType: 'json',
                                            data: {id: recipeData},
                                            success: function () {
                                                document.getElementById(recipeid + "favbtn").disabled = true;
                                            }
                                        });
                                    });

                                }
                        else
                            div(style="float: right")
                                button.btn.btn-warning( data-id=recipe._id id=recipe._id + "likebtn" disabled)
                                    i.fa.fa-thumbs-up(aria-hidden=true)
                                    span(class="likes" id = recipe._id + "like")     #{recipe.rating.Upvotes}
                                button.btn.btn-basic(data-id=recipe._id id=recipe._id + "dislikebtn" disabled)
                                    i.fa.fa-thumbs-down(aria-hidden=true)
                                    span(class="dislikes" id=recipe._id + "dislike")   #{recipe.rating.Downvotes}

        else
            h3.
                There are currently no recipes
